<h1>Posts Index</h1>
<p>Only logged users can see the authors of the posts</p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong><%= post.title %></strong><br>
      <em><%= post.body %></em><br>
      <% if user_signed_in? %>
        <p>By <%= post.user.email %></p>
      <% else %>
        <p>Log in to see who wrote this post</p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
